#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to 'Sign Up', new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Lorem ipsum dolor sit amet, mei eu causae liberavisse. His reque viris et, mea id quot docendi, at vix natum expetenda theophrastus. Ex vis tacimates volutpat recteque. Erat dicat velit an est, at sint dicta sed. Eu sint nullam forensibus nec. Virtute debitis mel at, putant intellegebat in vel. Duo et suas eruditi laoreet. Ei facilisi definiebas has, dico audiam id sit. Est no quod albucius mediocritatem, principes constituto intellegebat ne quo, at eam adhuc scribentur.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to 'Join Now', new_user_registration_path
