<div class="jumbotron text-center mb-0">
    <h1 class="display-4">Welcome to File Cabinet!</h1>
    <p class="lead">A better way to create and organize your documents<br>Your Life Organized.</p>
    <br>
    <%= link_to 'Sign Up Today!', new_user_registration_path, class: 'btn btn-primary btn-lg'%>
</div>

<div class="container-fluid">
  <div class="callout row justify-content-center align-items-center p-5">
    <div class="col-8 text-center">
      <h3 class="display-4 font-italic">About Us</h3>
      <p class="lead">
        Lorem ipsum dolor sit amet, sed utamur quaerendum dissentiet an, sea no quem placerat facilisi.
        Ex adhuc corpora sea, ea solet everti sanctus eum. Congue omnesque epicurei ei his, melius suavitate duo no.
        Mundi vocent ius ut. Putent quodsi sed ut.
        <br><br>
        Summo percipit sapientem mel at, pro graeci senserit no, ius et sanctus lobortis temporibus.
        Aeque option singulis ne duo. In nec facer urbanitas inciderint. Mel aeque suscipit no, at usu primis
        abhorreant philosophia. Sed an oratio inciderint, pri ipsum choro dolorem ne. Has autem appellantur an.
      </p>
    </div>
  </div>

  <div class="row justify-content-center align-items-center">
    <div class="col-12 text-center">
      <p class="lead pt-5">
        Create an account to get started organizing your life today!
      </p>
        <%= link_to 'Create Account', new_user_registration_path, class: 'btn btn-primary btn-md'%>
    </div>
  </div>
</div>
