.wrapper_with_padding
  #doc_show
    %h1.title= @document.title
    %p= simple_format(@document.body)

    .buttons
      = link_to 'Edit Doc', edit_document_path(@document), class: 'button'
      = link_to 'Delete Doc', document_path(@document),
                        method: :delete,
                        data: { confirm: 'Are you sure?' },
                        class: 'button'
