<div class="wrapper_with_padding">
  <div id="doc_show">
    <h1 class="title">
      <%= @document.title %>
    </h1>

    <p>
      <%= simple_format(@document.body) %>
    </p>

    <div class="buttons">
      <%= link_to 'Edit Doc', edit_document_path(@document), class: 'button' %>
      <%= link_to 'Delete Doc', document_path(@document),
                                method: :delete,
                                data: { confirm: 'Are you sure?' },
                                class: 'button' %>
    </div>
  </div>
</div>
