<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag 'profile.jpg' %>
  </div>

  <div id="content">
    <h1>Mr. Stick Figure</h1>
    <p>
      Lorem ipsum dolor sit amet, exerci numquam delectus et mel, et sit dicta volumus abhorreant. Quo reque iisque
      convenire ut, sea legere aperiam discere in, ius ex aliquid laoreet similique. Adolescens signiferumque vim te.
      Mazim appetere quo id. Mea ex reque mazim dicunt, vocibus deseruisse has ex. At cum prima volutpat intellegat.

      Cu mea sint mandamus, vis ut laudem tamquam legendos. Has ad molestie omittantur signiferumque, mediocrem
      repudiandae et sit. Quaestio expetendis his an, alia putent mel ei. In essent commodo nam, suas diam meliore
      mel cu. At facer primis est, sit duis salutandi disputando cu.

      Te epicurei signiferumque his, solum detraxit iudicabit ut has. Appareat postulant ad usu. Mollis quaerendum
      vix an, ea eum homero contentiones, dico vulputate omittantur eos no. Eum in eirmod sententiae eloquentiam,
      justo posse menandri no quo. Et cum corpora mnesarchum philosophia, pri case aperiam accusata ne. An reque
      laboramus vix, brute recusabo mei in.
    </p>
  </div>
</div>
